[Unit]
Description=Init Basic Jadge data

[Service]
KillMode=none
TimeoutStartSec=360
TimeoutStopSec=360
EnvironmentFile=/etc/environment
ExecStartPre=/bin/bash -c "/usr/bin/docker pull andcur/mongo_prop"
ExecStart=/bin/bash -c "\
        set -e; \
        MONGOS=$(etcdctl ls /mongo/mongos/nodes | \
                        xargs -I{} basename {} | \
                        xargs -I{} echo {}:27017 | \
                        head -n 1); \
        \
        echo Found mongos, inserting Jadge data; \
        \
        /usr/bin/docker run \
            --rm \
            --name mongo_prop \
            andcur/mongo_prop mongo $MONGOS /root/dbSetupScript.js ; \
        echo Data added ;\
        \
        echo Enabling sharding on Jadge data; \
        \
        /usr/bin/docker run -t --rm andcur/mongo_prop \
            mongo $MONGOS \
            --eval \"sh.enableSharding('JADGe');\"; \
        \
        /usr/bin/sleep 5; \
        \
        echo Setting shardkey for JADGe.objects; \
        \
        /usr/bin/docker run -t --rm andcur/mongo_prop \
            mongo $MONGOS \
            --eval \"sh.shardCollection('JADGe.objects', {'_id': 1});\"; \
        \
        /usr/bin/sleep 5; \
        \
        echo Setting shardkey for JADGe.dungeons; \
        \
        /usr/bin/docker run -t --rm andcur/mongo_prop \
            mongo $MONGOS \
            --eval \"sh.shardCollection('JADGe.dungeons', {'_id': 1});\"; \
        \
        echo Sharding and data are configured ;\
        exit 0;"

Restart=on-failure
