[Unit]
Description=Mongos service

[Service]
KillMode=none
TimeoutStartSec=360
TimeoutStopSec=360
EnvironmentFile=/etc/environment
ExecStartPre=/bin/bash -c "/usr/bin/docker pull mongo:latest"
ExecStart=/bin/bash -c "\
    set -e; \
    \
    echo Checking for available configservers...; \
    \
    TEMP_STR=""; \
    for ip in `/usr/bin/etcdctl ls /mongo/configsvr/nodes | xargs -I{} basename {}` ; \
    do \
        TEMP_STR="$TEMP_STR$ip:27019,"; \
    done; \
    CFGSERVERS=$(echo $TEMP_STR | sed \'$s/.$//\'); \
    /usr/bin/docker run \
        --rm \
        --name mongos \
        -v /var/mongo:/data/db \
        -p 27017:27017 \
        mongo:latest mongos --configdb $CFGSERVERS ; \
    \
    echo Router is configured"

Restart=on-failure
[X-Fleet]
Conflicts=rs1@*.service
Conflicts=rs2@*.service
Conflicts=mongos@*.service
Conflicts=mongocfgsvr@*.service
MachineOf=littlehelper@*.service
