[Unit]
Description=Nginx load balancer for littlehelper backends
Requires=etcd2.service
Requires=docker.service
After=etcd2.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
Restart=on-failure

ExecStartPre=-/usr/bin/docker kill nginx_lb
ExecStartPre=-/usr/bin/docker rm nginx_lb
ExecStartPre=/usr/bin/docker pull andcur/nginx_lb
ExecStart=/usr/bin/docker run --name nginx_lb -p ${COREOS_PRIVATE_IPV4}:80:80 \
andcur/nginx_lb /usr/local/bin/confd-watch

ExecStop=/usr/bin/docker stop nginx_lb

[X-Fleet]
# Don't run on a node already running a load balancer or a littlehelper backend
Conflicts=nginx.service
Conflicts=littlehelper@*.service
